/* Player Side Componets */

.PlayerOneSide {
    position: absolute;
    width: 534px;
    height: 680px;
    left: 0px;
    top: 0px; 
  }
  /*PT*/
  .PlayerOneTopHalf {
    position: absolute;
    width: 510px;
    height: 81px;
    left: 24px;
    top: 0px;
    
  }
  
  .PlayerOneName {
    position: absolute;
    width: 108px;
    height: 60px;
    left: 0px;
    top: 21px;
  
    font-size: 48px;
    line-height: 60px;
  }
  
  .PlayerOneScore {
    position: absolute;
    width: 140px;
    height: 60px;
    left: 170px;
    top: 0px;
  
    font-size: 48px;
    line-height: 60px;
  }
  
  .PlayerOneScoreValue {
    position: absolute;
    width: 183px;
    height: 60px;
    left: 327px;
    top: 0px;
  
    font-size: 48px;
    line-height: 60px;
  }
  
  /*PB*/
  
  .PlayerOneBottomHalf {
    position: absolute;
    width: 526px;
    height: 585px;
    left: 0px;
    top: 95px;  
  }
  
  .PlayerOneStats {
    position: absolute;
    width: 201px;
    height: 439px;
    left: 325px;
    top: 0px;
  }
  
  .PlayerOneTextStats {
    position: absolute;
    width: 95px;
    height: 53px;
    left: 0px;
    top: 0px;
  
    font-size: 36px;
    line-height: 45px;
  }
  
  .PlayerOneNextPiece {
    position: absolute;
    width: 201px;
    height: 336px;
    left: 0px;
    top: 67px;
    
    border: 2px solid #000000;
    border-radius: 10px;
  }
  
  .PlayerOneNextPieceText {
    position: absolute;
    width: 139px;
    height: 32px;
    left: 27px;
    top: 8px;
    
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }
  
  .PlayerOneLevel {
    position: absolute;
    width: 63px;
    height: 30px;
    left: 10px;
    top: 186px;
    
    font-size: 24px;
    line-height: 30px;
  }
  
  .PlayerOneLevelCount {
    position: absolute;
    width: 15px;
    height: 30px;
    left: 82px;
    top: 186px;
    
    font-size: 24px;
    line-height: 30px;
  }
  
  .PlayerOneRows {
    position: absolute;
    width: 92px;
    height: 60px;
    left: 9px;
    top: 244px;
    
    font-size: 24px;
    line-height: 30px;
  }
  
  .PlayerOneRowsCount {
    position: absolute;
    width: 77px;
    height: 45px;
    left: 115px;
    top: 259px;
    
    font-size: 36px;
    line-height: 45px;
  }
  
  .PlayerOneKeyOutput {
    position: absolute;
    width: 97px;
    height: 22px;
    left: 52px;
    top: 417px;
  
    font-size: 18px;
    line-height: 22px;
  }
  
  .PlayerOneGrid {
    display: grid;
    padding: 2px;
    grid-template-columns: repeat(10, 32px);
  
    position: absolute;
    width: 328px;
    height: 650px;
    left: -50px;
    top: 9px;
  
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
  }